<div class="row">
  <div class="col-md-12">
  <h1>Seja bem vindo(a), <%= current_user.name %> !</h1>
  </div>
</div>

<div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
              <div class="card border-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Roteiro</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">R$215,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-plane fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</div>