<% if user_signed_in? %>
  <%= render "home/logged_in"%>
<% else %>
  <h1>Bem vindo(a)!</h1>
  <p class="lead">Já imaginou como seria ter um aplicativo para ser seu guia turistíco?</p>
  <p class="lead">Uma plataforma prática, com todas os detalhes necessários para você planejar seu roteiro de viagem e ter a melhor experiência ao conhecer nossa cidade!</p>
<% end %>